<p>Admin khul gya!</p>
<br>
<br>
<br>

<div id="top-bar">
<a href = "/home">Home</a><br>
<a href = "/creative-writing-admin">Creative Writing</a><br>
<a href = "/book-reviews-admin">Book Reviews</a><br>
<a href = "/blog-admin">Blog</a><br>
</div>
<h1>Blog</h1>
<form method="post" action="admin/add-blog" id="login1">

            <label><B>Title:</B>
            <input type="text" name="title" placeholder="Enter the Title" required>
            </label><br><br>


			
	    <label><B>Blog:</B>
            <input type="text" name="content" placeholder="Begin Typing..." required>
            </label><br><br>
			
            <button type="submit"><b>Login</b></button> 
		
        </div>
</form>
<br>
<br>
<h1>Creative Writing</h1>
<form method="post" action="admin/add-creative" id="login2">

            <label><B>Title:</B>
            <input type="text" name="title" placeholder="Enter the Title" required>
            </label><br><br>


			
	    <label><B>Blog:</B>
            <input type="text" name="content" placeholder="Begin Typing..." required>
            </label><br><br>
			
            <button type="submit"><b>Login</b></button> 
		
        </div>
</form>
<br>
<br>
<h1>Book Review</h1>
<form method="post" action="admin/add-book-review" id="login3">

            <label><B>Title:</B>
            <input type="text" name="title" placeholder="Enter the Title" required>
            </label><br><br>
            
            <label><B>Author:</B>
            <input type="text" name="author" placeholder="Enter the Author" required>
            </label><br><br>


			
	    <label><B>Blog:</B>
            <input type="text" name="content" placeholder="Begin Typing..." required>
            </label><br><br>
			
            <button type="submit"><b>Login</b></button> 
		
        </div>
</form>
