<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/toast.css">
<script src="/js/home.js"></script>
<div id = "navbar">
<a class="btn active" href = "/home">Home</a>
<a class="btn" href = "/creative-writing-admin">Creative Writing</a>
<a class="btn" href = "/book-reviews-admin">Book Reviews</a>
<a class="btn" href = "/blog-admin">Blog</a>
<a class="btn" href = "/logout">Logout</a>
</div>
<br><br>
<div class= "container">
<button class="collapse" onclick="openblog()">Add Blog</button><br><br>
<form method="post" action="admin/add-blog" id="blog-form">

            <label><B>Title:</B>
            <input type="text" name="title" placeholder="Enter the Title" required>
            </label><br><br>


			
	    <label><B>Blog:</B><br><br>
	  <textarea id="content1" name="content" form = "blog-form"></textarea>
	  <br><br></label>
			
            <button onclick="blogAdd()" type="submit"><b>Save</b></button> 
</form>
<br>
<br>
<button class="collapse" onclick="opencreative()">Add Creative Writing</button><br><br>
<form method="post" action="admin/add-creative" id="creative-form">

            <label><B>Title:</B>
            <input type="text" name="title" placeholder="Enter the Title" required>
            </label><br><br>
      <label><B>Content:</B> <br><br></label>
	  <textarea id="content2" name="content" form="creative-form"></textarea>
	  <br><br>
      <button type="submit"><b>Save</b></button> 
</form>
<br>
<br>
<button class="collapse" onclick="openbook()">Add Book Review</button><br><br>
<form method="post" action="admin/add-book-review" id="book-form">

            <label><B>Title:</B>
            <input type="text" name="title" placeholder="Enter the Title" required>
            </label><br><br>
            
            <label><B>Author:</B>
            <input type="text" name="author" placeholder="Enter the Author" required>
            </label><br><br>


			
	    <label><B>Review:</B><br><br></label>
	  <textarea id="content3" name="content" form="book-form"></textarea>
	  <br><br>
			
            <button type="submit"><b>Save</b></button> 
		
</form>
</div>

<script>
	$('#content1').richText();
	$('#content2').richText();
	$('#content3').richText();
	</script>
	<link rel="stylesheet" href="/richtext.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/jquery.richtext.js"></script>
<script src="/jquery.richtext.min.js"></script>
