<div id="place-holder">
<%for(var i=0;i< bookreview.length;i++){%>
<div class="card">
<h3>Title: <%=bookreview[i].title%></h3>
<h5>Author: <%=bookreview[i].author%></h5>
<p>Content: <%= bookreview[i].content%></p>
</div>
<br><br>
<%}%>
</div>
