<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>
<div id = "navbar">
<a class="btn" href = "/admin">Admin</a>
<a class="btn active" href = "/creative-writing-admin">Creative Writing</a>
<a class="btn" href = '/book-reviews-admin'>Book Reviews</a>
<a class="btn" href = "/blog-admin">Blog</a>
<a class="btn">Contact Us</a>
</div>
<div id="place-holder">
<%for(var i=0;i< creative.length;i++){%>
<div class="card">
<h2>Title: <%=creative[i].title%></h2>
<div class = "comment">
<p>Content: <%- creative[i].content%></p>
</div>
<button><a href='/creative-writing-admin/remove-creative/:<%= creative[i].title %>' style="color: white;">Delete</a></button>
<button><a href='/creative-writing-admin/edit-creative/:<%= creative[i].title %>' style="color: white;">Edit</a></button>
</div>
<br><br>
<%}%>
</div>

<script type="text/javascript">
$(function(){
  $(".comment").each(function(i){
    len=$(this).text().length;
    if(len>300)
    {
      $(this).text($(this).text().substr(0,300)+'…');
    }
  });
});
</script>
