<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>

<h1>Title: <%= blog.title%></h1>
<form method="post" action='/blog-admin/edit-blog/:<%= blog.title%>' id="form1">
    <textarea class="content" name="content" form="form1"><%- blog.content%></textarea>
	  <br><br>
    </label><br>
    <button type="submit"><b>SAVE</b></button>
    <br>
    </form>
    
<script>
	$('.content').richText();
	</script>
	<link rel="stylesheet" href="/richtext.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/jquery.richtext.js"></script>
<script src="/jquery.richtext.min.js"></script>
