<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>
<div id="login">
<button id="myBtn" onclick="openForm()">
Admin Login
</button>
</div>
<div id="modal-login">
<div class= "modal-content">
<span class="close" onclick="closeForm()">&times;</span>
<form method="post" action="/admin" id="login1">

            <label><B>Admin Id:</B>
            <input type="text" name="userid" placeholder="Enter UserId" required>
            </label><br><br>


			
	    <label><B>Password:</B>
            <input type="Password" name="password" placeholder="Enter Password" required>
            </label><br><br>
			
            <button type="submit"><b>Login</b></button> 
		
</form>
</div>
</div>
<div id = "navbar">
<a class="btn active" href = "/home">Home</a>
<a class="btn" href = "/creative-writing">Creative Writing</a>
<a class="btn" href = "/book-reviews">Book Reviews</a>
<a class="btn" href = "/blog">Blog</a>
<a class="btn">Contact Us</a>
</div>

<img class="mySlides" src="/images/slide1.jpg">
<img class="mySlides" src="/images/slide2.jpg">
<img class="mySlides" src="/images/slide3.jpg">

<div class = "lower-bar">
<div class = "lower-card">
<img src="/images/book.jpg">
<br>
<div class = "lower-heading"> Book Review
</div>
<div class = "comment">
<p>Whether you’ve finally decided to check out an SEO Service Agency, or you are thinking of changing agency, you’ve made the right call looking at SEO from Brandwitty.

Quality is the name of the game in SEO, something we know a lot about here. The way we work and the results we deliver, it’s all built on quality. In turn, we can add value to your website and business. If you want an SEO company that goes the extra mile, come speak to the experts.</p>
</div>
<a href= "/book-reviews">Read More</a>
</div>

<div class = "lower-card">
<img src="/images/editing.jpg">
<br>
<div class = "lower-heading"> Editing
</div>
<div class = "comment">
<p>Whether you’ve finally decided to check out an SEO Service Agency, or you are thinking of changing agency, you’ve made the right call looking at SEO from Brandwitty.

Quality is the name of the game in SEO, something we know a lot about here. The way we work and the results we deliver, it’s all built on quality. In turn, we can add value to your website and business. If you want an SEO company that goes the extra mile, come speak to the experts.</p>
</div>
<a href= "/book-reviews">Read More</a>
</div>

<div class = "lower-card">
<img src="/images/academic.jpg">
<br>
<div class = "lower-heading"> Academic Writing
</div>
<div class = "comment">
<p>Whether you’ve finally decided to check out an SEO Service Agency, or you are thinking of changing agency, you’ve made the right call looking at SEO from Brandwitty.

Quality is the name of the game in SEO, something we know a lot about here. The way we work and the results we deliver, it’s all built on quality. In turn, we can add value to your website and business. If you want an SEO company that goes the extra mile, come speak to the experts.</p>
</div>
<a href= "/book-reviews">Read More</a>
</div>

<div class = "lower-card">
<img src="/images/seo.jpg">
<br>
<div class = "lower-heading"> SEO Services
</div>
<div class = "comment">
<p>Whether you’ve finally decided to check out an SEO Service Agency, or you are thinking of changing agency, you’ve made the right call looking at SEO from Brandwitty.

Quality is the name of the game in SEO, something we know a lot about here. The way we work and the results we deliver, it’s all built on quality. In turn, we can add value to your website and business. If you want an SEO company that goes the extra mile, come speak to the experts.</p>
</div>
<a href= "/book-reviews">Read More</a>
</div>
</div>
<div class= "contact" data-aos="zoom-in" data-aos-once="true" data-aos-anchor=".lower-bar">
<div class ="contact-header">
<h1>Contact Us</h1>
<h3>We would love to hear from you. Find us at-</h3>
</div>
<div class = "contact-content">
<div class= "contact-heading"><b>Address:  </b> 2, A-1, Krishna Nagar 1, Near Hotel Rajmahal, Chandavarkar Road Near Borivali Railway Station, Borivali West, Mumbai, 400092</div><br><hr>
<div class= "contact-heading"><b>Phone:  </b>+91 96190-32791</div><br><hr>
<div class= "contact-heading"><b>Email:  </b>brandwitty@gmail.com</div><br><hr>
<div class= "contact-heading"><b>Website:  </b>brandwitty.com</div><br><hr>
</div>
</div>

<script type="text/javascript">
$(function(){
  $(".comment").each(function(i){
    len=$(this).text().length;
    if(len>200)
    {
      $(this).text($(this).text().substr(0,200)+'…');
    }
  });
});
</script>

<script>
AOS.init({
  duration: 1200,
})
</script>
